/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #fff;
    width: 100%;
    height: 100%;   
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}



.wrapper {
    width: 1370px;
    margin: auto;
}


/* ==========================================================================
   Header classes
   ========================================================================== */

header {
    width: 100%;
    height: 112px;
    position: fixed;
    top: 0;
}
header .wrapper {
    position: relative;
}
.header__logo {
    width: 202px;
    height: 65px;
    float: left;
    margin-top: 23px;
}
.header__logo a {
    display: inline-block;
}
.header__logo img {
    width: 202px;
    height: 65px;
}
.header__langs {
    list-style: none;
    padding: 0;
    margin: 42px 0 0 0;
    float: right;
}
.header__langs li {
    float: left;      
    font: 24px/1 'PT Sans Narrow';
    padding: 0 13px;
    position: relative;
}
.header__langs li:last-child {
    padding-right: 0;
}
.header__langs li:last-child::after {
    display: none;
}
.header__langs li::after {
    content: "";
    display: block;
    width: 1px;
    height: 20px;
    background-color: #c8c8c8;
    position: absolute;
    right: 0;
    top: 3px;
}
.header__langs li a {
    color: #c8c8c8;
    text-decoration: none;
}
.header__langs li.current a {
    color: 000
}
.header__calk_but {
    width: 0;
    height: 56px;    
    background-color: #d0021b;
    font: bold 24px/56px 'PT Sans Narrow';      
    text-align: center;
    color: #ffffff;    
    cursor: pointer;
    float: right;
    overflow: hidden;
    margin: 28px 0 0 0;
    transition: all 150ms ease;    
}
.header__calk_but:hover {
    background-color: #e2344a;    
}
header.scroll .header__calk_but {
    width: 224px;
    margin-left: 81px;
}